* {
  box-sizing: border-box;
  font-family: sans-serif;
}
:root {
  --bg-color: #17150f;
}
body {
  margin: 0;
  padding: 0;
  background: var(--bg-color);
  padding-inline: calc((100% - 1100px) / 2);
}

// Logo.
.logo {
  color: #fff;
  text-align: center;
  font: 600 2.5rem times;
}

//
// Introduction section.
.introduction {
  width: 100%;
  margin: 0 auto;
  color: #fff;
  padding-inline: calc((100% - 1100px) / 2);
  .hero-img {
    position: relative;
    img {
      max-width: 100%;
      margin: 3rem auto 0;
    }
    figcaption {
      position: absolute;
      top: 1vw;
      left: 50%;
      transform: translateX(-50%);
      text-align: center;
      padding-top: 2rem;
      font-size: calc(8px + (70 - 8) * (100vw - 200px) / (1100 - 200));
      @media (min-width: 1100px) {
        font-size: 70px;
      }
      .number {
        font-size: calc(0.4rem + 12vw);
        @media (min-width: 1100px) {
          font-size: 130px;
        }
      }
      .number:nth-of-type(2) {
        margin-top: 2rem;
      }
    }
  }
  h1 {
    font: 100 3rem sans-serif;
    text-align: center;
    padding-inline: max(calc(50% - 350px), 1rem);
  }
  .social-networks {
    display: flex;
    justify-content: center;
    * {
      margin-inline: 0.3rem;
    }
    .reporter {
      margin-left: 1.5rem;
      font: bold 1.5rem sans-serif;
    }
  }
  .photographers {
    text-align: center;
    font: 700 1em/2rem sans-serif;
  }
  .preface {
    padding-inline: max(calc(50% - 350px), 1rem);
    font: 1.1em/1.6rem sans-serif;
    letter-spacing: 0.3px;
    margin-bottom: 3rem;
  }
  .abridged {
    height: 15rem;
    overflow: hidden;
    position: relative;
  }
  .abridged::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(#0000 60%, var(--bg-color));
  }
  button.read-more {
    margin: -2.5rem auto 3rem;
    display: block;
    background: #0000;
    color: #fff;
    font: bold 1.1rem sans-serif;
    outline: 0;
    border: 0;
    cursor: pointer;
  }
}

//
// Women grid
.women-grid {
  display: grid;
  margin: 1rem;
  gap: 1.6rem;
  grid-template-columns: repeat(auto-fill, minmax(333px, 1fr));
  grid-auto-rows: 460px;
  color: #fff;
  figure {
    text-align: center;
    position: relative;
    margin: 0;
    overflow: hidden;
    // transition: all 2s;
    img {
      filter: grayscale(0.9);
    }
  }
  .item-top {
    color: #000;
    background: #fff7;
    backdrop-filter: blur(5px);
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.4rem;
    width: calc(100% - 2rem);
    border-radius: 0.5rem 0.5rem 0 0;
    max-width: 380px;
    padding: 1rem;
    // margin: 1rem 1rem 0;
    font-weight: bold;
    button {
      display: block;
      width: 24px;
      height: 24px;
      outline: 0;
      border: 0;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle r='10' cx='12' cy='12' stroke='red' stroke-width='2' fill='transparent'/%3E%3Cpath d='M7 8L12 15L16 8' stroke='red' stroke-width='2' fill='transparent'/%3E%3C/svg%3E");
      background-color: #0000;
      margin: 0 auto;
    }
  }
  .item-bottom {
    width: calc(100% - 2rem);
    max-width: 380px;
    color: #000;
    background: #fff7;
    backdrop-filter: blur(8px);
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    transition: clip-path 0.5s ease-in-out;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0); // For transition
    border-radius: 0 0 0.5rem 0.5rem;
    box-shadow: 5px 5px 15px #0009;
    font-size: calc(0.85rem + 25%);
    padding: 1rem;
    margin: 0 0 1rem;
    figcaption {
      font-weight: bold;
      font-size: 1.2rem;
    }
  }
  .random-excerpt {
    background: #454545;
    display: flex;
    flex-flow: column;
    justify-content: center;
    h1 {
      color: #fa5c5c;
      text-align: center;
      margin: 0;
      font: bold 8rem/1rem sans-serif;
    }
    p {
      margin: 0;
      font: bold 1.6rem sans-serif;
      padding: 1rem;
    }
  }
}

//
// Styles for js function, to expand the image on two rows in the women grid.
.rotate-the-btn {
  transform: rotate(180deg);
}
.expand-to-two-rows {
  grid-row: span 2;
}
.move-above-middle {
  bottom: calc(
    50% + 0.8rem
  ) !important; // using Important, for simpler toggling solution.
}
.move-below-middle {
  bottom: 0 !important;
  top: calc(50% - 0.8rem) !important;
  clip-path: polygon(0 0, 110% 0, 110% 110%, 0 110%) !important;
}
.colorize {
  filter: grayscale(0) !important;
}
